.contenido{
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 20rem 1fr 20rem;
}

.menu {
    background-color: rgb(126, 126, 126);
    margin-top: 25rem; 
    margin-right: 1.3rem; 
    grid-row: 2/2; 
    grid-column: 2/2; 
    border: solid gray 1rem;
    border-radius: 4rem;
}
