.caja  {
    display: flex;
    margin: 5px;
    border: 2px solid black;
  }
  
  nav {
    background-color: white; 
    color:  black; 
    padding: 2rem;
    width: 20rem; 
    height: 24rem;
  }
  
  nav ul {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 6rem;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  section {
    border: 2px solid #333; 
    padding: 20px;
    flex: 1; 
  }