body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.base {
  background-color: #1b8488db;
  color: #fff;
  padding: 0;
  text-align: center; 
  width: 1340px; 
  border-radius: 100px; 
  height: 120px;
}

.base h1 {
  font-size: 30px;
}

nav ul {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.boton-repositorio {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}

